<h1>Here are all the available contacts</h1>

<ul>
  <%@contacts.each do |contact| %>
    <li><%=contact.first_name.capitalize%> <%=contact.last_name.capitalize%></li>
    <ul>
      <li><%=contact.email%></li>
      <li><%=contact.note%></li>
    </ul>
  <%end%>
</ul>

<a href="/home">Home</a>
<a href="/about">About Me</a>
